body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blue;
}

.top {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 10%;
    width: 100%;
    background-color: darkred;

}

.selector {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 10%;
    width: 100%;
    background-color: red;
    
}

#select {
    color: black;
    background-color: darkgray;
}